:root {
  --font-color: black;
  --bg-color: rgba(12, 4, 37, 0.44);
  --bg-components: rgba(13, 0, 128);
  --bg-icon: green;
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
}

html svg {
  fill: var(--bg-icon);
  stroke: var(--bg-icon);
}
